.btn {
  border-radius: 5px;
  background-color: $stack-color;
  padding: 9px 25px;
  font-family: $OpenSans;
  color: $light-color;
  font-size: $links-size;
  font-weight: 700;
  line-height: 1.286;
}
