header {
  background: -webkit-linear-gradient(90deg, #efefef 0%, #d9d9d9 100%);
  background: -moz-linear-gradient(90deg, #efefef 0%, #d9d9d9 100%);
  background: -o-linear-gradient(90deg, #efefef 0%, #d9d9d9 100%);
  background: -ms-linear-gradient(90deg, #efefef 0%, #d9d9d9 100%);
  background: linear-gradient(0deg, #efefef 0%, #d9d9d9 100%);
  max-width: 75em;
  margin: 0 auto;
  height: 6.3em;
}

.header__logo {
  float: left;
  width: 29%;
  margin: 25px 0 0 25px;
}

h1.header__logo, h2.header__logo {
  font-size: $h1-size;
  line-height: 1em;
  a {
    font-family: $OpenSans;
    color: $header-color;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }
}

.shop {
  font-family: $OpenSans;
  color: $light-color;
  font-size: 1.25em;
  font-weight: 700;
  background-color: $stack-color;
  text-transform: uppercase;
  padding: 10px;
  position: absolute;
  top: 42px;
  margin-left: 7px;
}

.menu-collapsed {
  transition: all .25s;
  position: absolute;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  display: none;
  ul {
    transition: all .05s;
    position: fixed;
    left: -9000px;
  }
}

.bar {
  position: absolute;
  left: 5px;
  top: 22px;
  height: 4px;
  width: 36px;
  border-radius: 3px;
  background-color: rgba(150, 53, 109, 0.75);
  &:before {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    height: 4px;
    width: 36px;
    border-radius: 3px;
    background-color: rgba(150, 53, 109, 0.75);
  }
  &:after {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    height: 4px;
    width: 36px;
    border-radius: 3px;
    background-color: rgba(150, 53, 109, 0.75);
  }
}

.menu-expanded {
  transition: all .25s;
  text-align: left;
  line-height: 40px;
  height: 50%;
  width: 16em;
  border-radius: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  ul {
    transition: all .05s;
    position: relative;
    left: 0;
    z-index: 2;
  }
  a {
    text-decoration: none;
    color: $light-color;
    font-size: 1em;
    font-family: "OpenSans", sans-serif;
    padding: 5px;
    &:hover {
      color: $stack-color;
    }
  }
  .bar {
    background-color: transparent;
    transition: all .25s;
    &:before {
      transition: all .25s;
      content: "";
      transform: rotate(45deg);
      top: -0px;
    }
    &:after {
      transition: all .25s;
      content: "";
      transform: rotate(-45deg);
      top: 0;
    }
  }
}

nav.top_nav {
  width: 48%;
  display: inline-block !important;
  text-align: right;
  ul {
    li {
      a {
        font-family: $OpenSans;
        color: $header-color;
        font-size: $links-size;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
          color: $stack-color;
        }
      }
    }
  }
}

.links {
  display: inline-block;
  width: 48%;
  text-align: right;
  position: relative;
  a {
    font-family: $OpenSans;
    color: $header-color;
    font-size: $links-size;
    font-weight: 700;
    line-height: 1.857;
    margin-right: 19px;
  }
  input {
    background: #c2c2c2;
    font-family: $OpenSans;
    color: $light-color;
    font-size: $other-size;
    padding: 0.6em 1em;
    font-weight: 400;
    border: none;
    width: 20em;
  }
  input.search-btn {
    position: absolute;
    top: 10px;
    right: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url("../img/icon-search.png");
    background-repeat: no-repeat;
  }
}

.header__cart {
  float: right;
  width: 19%;
  margin-top: -33px;
  .img_cart {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
  }
  table {
    max-width: 50%;
    width: 50%;
    caption {
      font-family: $OpenSans;
      color: $header-color;
      font-size: $links-size;
      font-weight: 700;
      line-height: 2.5em;
      text-align: left;
    }
    tr, td {
      font-family: $OpenSans;
      color: $header-color;
      font-size: $other-size;
      font-weight: 400;
      line-height: 1.333;
    }
  }
}

main {
  width: 100%;
  min-height: 100%;
  padding-bottom: 6.5em;
}

.mobile_menu {
  display: none;
}

article {
  float: left;
  width: 28%;
  height: 100%;

  h3 {
    @extend .heading;
  }

  nav {
    text-align: left;
    width: 100%;
    ul {
      li {
        display: block;
        border-top: 1px solid rgb(225, 225, 225);
        line-height: 2.5;
        margin-left: 0;
        a {
          font-family: $OpenSans;
          color: $header-color;
          font-size: $links-size;
          font-weight: 400;
          &:hover {
            color: $stack-color;
            font-weight: 700;
          }
        }
        .active {
          color: $stack-color;
          font-weight: 700;
        }
        ul {
          li {
            margin-left: 25px;
            a {
              font-family: $OpenSans;
              color: $header-color;
              font-size: $other-size;
              font-weight: 400;
              &:hover {
                color: $stack-color;
                font-weight: 400;
              }
            }
          }
          li:last-child {
            border-bottom: none;
          }
        }
      }
      li:last-child {
        border-bottom: 1px solid rgb(225, 225, 225);
      }
    }
  }

  aside.in {
    float: left;
    width: 100%;

    .item_block {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      a {
        .item_img {
          float: left;
        }
      }
      .item_text {
        float: right;
        width: 65%;
        h4 {
          margin: -5px 0 0 0;
          a {
            font-family: $OpenSans;
            color: $base-color;
            font-size: $links-size;
            font-weight: 700;
            text-decoration: none;
          }
        }
        p {
          font-family: $OpenSans;
          color: $base-color;
          font-size: $links-size;
          font-weight: 400;
          text-align: left;
          margin: 6px 0;
        }
        a {
          color: $stack-color;
          text-decoration: underline;
          font-size: $other-size;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

}

section {
  float: right;
  width: 67%;
  height: 100%;
  margin: 15px 0 0 45px;
  position: relative;
}

h3 {
  a {
    @extend .heading;
  }
}

section.slider {

  .slick-slider {
    margin-bottom: 15px;
  }
  .slide_pic {

  }
  .slick-dots {
    bottom: 0 !important;
    text-align: right !important;
    right: 10px !important;
  }
  .slick-dots li button:before {
    font-family: 'slick', sans-serif;
    font-size: 11px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: $light-color;
    -webkit-font-smoothing: antialiased;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: $stack-color;
  }
  .frame__block {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(70, 70, 70, 0.7);
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    h4 {
      color: $light-color;
      font-family: $OpenSans;
      font-size: $h3-size;
      font-weight: 300;
      margin: 0;
      padding-left: 10px;
    }
  }
  .product {
    width: 100%;
    height: 100%;

    .product__item {
      .item_block {
        float: left;
        width: 32%;
        max-width: 259px;
        position: relative;
        margin-right: 15.6px;
        a {
          img {
            width: 100%;
          }
        }
      }
      .item_block:last-child {
        margin-right: 0;
      }
      .item_frame {
        position: absolute;
        bottom: 4px;
        right: 0;
        background-color: rgba(70, 70, 70, 0.7);
        width: 75%;
        padding: 5px;
        color: white;
        font-family: $OpenSans;
        font-size: $medium-size;
        font-weight: 700;
        line-height: 1.625em;
        text-transform: uppercase;
        text-align: center;
        span {
          text-transform: none;
          font-size: $links-size;
          font-weight: 400;
        }
      }
    }
  }
}

section.about {

  p {
    font-family: $OpenSans;
    color: #817c74;
    font-size: $links-size;
    font-weight: 400;
    text-align: justify;
  }
}

section.novelty {

  .slick-slide img {
    margin: 0 auto;
  }
  .slide__product {
    background-color: $light-color;
    position: relative;
    border: 1px solid rgb(194, 194, 194);
    width: 98%;
    padding: 15px 15px 0 15px;
    height: 350px;
    .new {
      position: absolute;
      top: 25px;
      left: 18px;
      z-index: 100;
    }
    .product_images {
      width: 100%;
      max-width: 216px;
      margin: 0 auto;
    }
    .product__text-block {
      width: 100%;
      max-width: 216px;
      margin: 0 auto;
      h4 {
        font-family: $OpenSans;
        color: $item-color;
        font-size: $links-size;
        font-weight: 700;
        text-align: left;
        margin: 5px 0 0 0;
      }
      table {
        width: 100%;
        tr {
          td.name {
            font-family: $OpenSans;
            color: $item-color;
            font-size: $small-size;
            font-weight: 400;
            line-height: 2.364;
            text-align: left;
            width: 60%;
            padding-left: 0;
          }
          td.price {
            font-family: $OpenSans;
            color: $stack-color;
            font-size: $links-size;
            font-weight: 700;
            line-height: 1.857;
            text-align: right;
            width: 40%;
          }
        }
      }
      a {
        font-family: $OpenSans;
        color: $item-color;
        font-size: $small-size;
        font-weight: 400;
        line-height: 2.364;
        text-decoration: underline;
        text-align: left;
        outline: none;
        margin-left: 15px;
      }
    }
  }

  i.fa.fa-angle-left.slick-arrow {
    color: white;
    background: lightgray;
    padding: 2px 7px;
    font-size: 15px;
    position: absolute;
    top: -33px;
    right: 27px;
    cursor: pointer;
  }
  i.fa.fa-angle-right.slick-arrow {
    color: white;
    background: lightgray;
    padding: 2px 7px;
    font-size: 15px;
    position: absolute;
    top: -33px;
    right: 5px;
    cursor: pointer;
  }
  p {
    font-family: $OpenSans;
    color: $base-color;
    font-size: $links-size;
    font-weight: 400;
    line-height: 1.286;
    text-align: justify;
  }

}

section.action {

  .slick-slide img {
    margin: 0 auto;
  }
  .slide__product {
    background-color: $light-color;
    position: relative;
    border: 1px solid rgb(194, 194, 194);
    width: 98%;
    padding: 15px 15px 0 15px;
    height: 350px;
    .new {
      position: absolute;
      top: 25px;
      left: 18px;
      z-index: 100;
    }
    .product_images {
      width: 100%;
      max-width: 216px;
      margin: 0 auto;
    }
    .product__text-block {
      width: 100%;
      max-width: 216px;
      margin: 0 auto;
      h4 {
        font-family: $OpenSans;
        color: $item-color;
        font-size: $links-size;
        font-weight: 700;
        text-align: left;
        margin: 5px 0 0 15px;
      }

      table {
        width: 100%;
        tr {
          td.name {
            font-family: $OpenSans;
            color: $item-color;
            font-size: $small-size;
            font-weight: 400;
            line-height: 2.364;
            text-align: left;
            width: 60%;
            padding-left: 15px;
          }
          td.price {
            font-family: $OpenSans;
            color: $stack-color;
            font-size: $links-size;
            font-weight: 700;
            line-height: 1.857;
            text-align: right;
            width: 40%;
          }
        }
      }
      a {
        font-family: $OpenSans;
        color: $item-color;
        font-size: $small-size;
        font-weight: 400;
        line-height: 2.364;
        text-decoration: underline;
        text-align: left;
        outline: none;
        margin-left: 15px;
      }
    }
  }
  p {
    font-family: $OpenSans;
    color: $base-color;
    font-size: $links-size;
    font-weight: 400;
    line-height: 1.286;
    text-align: justify;
  }
  i.fa.fa-angle-left.slick-arrow {
    color: white;
    background: lightgray;
    padding: 2px 7px;
    font-size: 15px;
    position: absolute;
    top: -33px;
    right: 27px;
    cursor: pointer;
  }
  i.fa.fa-angle-right.slick-arrow {
    color: white;
    background: lightgray;
    padding: 2px 7px;
    font-size: 15px;
    position: absolute;
    top: -33px;
    right: 5px;
    cursor: pointer;
  }

}

footer {
  background-color: $place-color;
  max-width: 76em;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 0;

  section.left__info {
    width: 49%;
    float: left;
    height: 3.8em;
    margin: 0;

    .bank__info {
      float: left;
      width: 21%;
      text-align: right;

      .info_img {
        padding-top: 1.4em;
        padding-left: 1em;
        float: left;
      }
      a.info_text {
        font-family: "Open Sans", sans-serif;
        color: #4e4e4e;
        font-size: 0.875em;
        font-weight: 700;
        text-align: left;
        margin: -30px 0 0 50px;
        float: right;
        cursor: pointer;
      }
    }

    .post__info {
      float: right;
      width: 65%;
      padding-top: 1.25em;
      padding-left: 1em;
      padding-right: 1em;
      a {
        display: inline-block;
      }
    }
  }

  section.right__info {
    width: 49%;
    float: left;
    margin: 0;

    .social {
      float: left;
      width: 45%;
      text-align: right;
      line-height: 3em;
      margin-top: 1em;
    }

    .create__info {
      float: right;
      width: 45%;
      text-align: right;
      padding-top: 1em;
      .info {
        display: inline-block;
        font-family: $Ubuntu;
        color: #999999;
        font-size: $links-size;
        font-weight: 300;
        text-align: center;
      }
    }
  }

}

