//Color

$base-color: rgb(129, 124, 116);
$stack-color: rgb(150, 53, 109);
$light-color: rgb(255, 255, 255);
$item-color: rgb(120, 120, 120);
$menu-color: rgb(225, 225, 225);
$place-color: rgb(194, 194, 194);
$heading-color: rgb(130, 130, 129);
$overlay-color: rgb(70, 70, 70);
$foot-color: rgb(78, 78, 78);
$header-color: rgb(113, 112, 110);

//Font-size

$large-size: 2.25em;
$h1-size: 1.625em;
$logo-size: 1.375em;
$h2-size: 1.25em;
$h3-size: 1.125em;
$medium-size: 1em;
$links-size: 0.875em;
$other-size: 0.75em;
$small-size: 0.688em;

//Font-Family

$OpenSans: 'Open Sans', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;
$OpenSansCondensed: 'Open Sans Condensed', sans-serif;
$RobotoCondensed: 'Roboto Condensed', sans-serif;
